
@font-face {
    font-family: 'Arian';
    src: local('Arial Black'), local('Impact'), local('Arial');
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    background: #E2D9BB;
    color: #1a1a1a;
    margin: 0;
    padding-top: 120px; 
}


nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background:#C9B896;
    padding: 1rem 5%;
    border: 1px solid black;
}

.conteneur-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte-logo-nav {
    font-family: "Cinzel", Sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 6px;
    color: #1a1a1a;
}

.paris-logo-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 3px;
    color: #1a1a1a;
    margin-top: -2px;
}
.liens-nav {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    align-items: center;
}

.liens-nav a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}



.liens-nav a:hover{
    text-decoration: underline;
}


.bouton-connexion {
    padding: 0.6rem 1.5rem;
    border: 2px solid #1a1a1a;
}





.section-principale {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8rem 5% 4rem;
}

.logo-principal {
    text-align: center;
    margin-bottom: 3rem;
}

.texte-logo-principal {
    font-family: "Cinzel", Sans-serif;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 20px;
    color:#1a1a1a;
}

.paris-logo-principal {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 10px;
    color: #1a1a1a;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 1.5rem;
}

.slogan-logo-principal {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
    color: #1a1a1a;
}


footer {
    background-color: #1a1a1a; 
    color: #F5F0E8;             
    padding: 1rem 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
}


.logo-pied-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.texte-logo-pied-page {
    font-family: "Cinzel", Sans-serif; 
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 8px;
    color: #F5F0E8;
}

.paris-logo-pied-page {
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.8rem;
    letter-spacing: 4px;
    color: #C9B896;
    margin-top: -3px;
    margin-bottom: 1rem;
}

.slogan-logo-pied-page {
    font-family: 'Parisienne', cursive;
    font-size: 1.3rem;
    color: #C9B896;
    margin-bottom: 2rem;
}


.infos-pied-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}


.section-pied-page {
    display: flex;
    flex-direction: column;
    min-width: 180px; 
}

.section-pied-page h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #C9B896;
}

.section-pied-page p, .section-pied-page a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #F5F0E8;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


.liv{
    max-width: 1000px;
    margin: 5% auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #C9B896; 
    text-align: center;
    font-family: "Cinzel", Sans-serif;
}

.att, .enl{
    max-width: 800px;
    margin: 5% auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #C9B896; 
    text-align: center;
    font-family: "Cinzel", Sans-serif;
}

.att h1, .enl h1, .liv h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.att table, .enl table, .liv table{
    width: 100%;
    margin-top: 15px;
}

.att th, .att td, .enl th, .enl td, .liv th, .liv td {
    border: 1px solid black;
    padding: 10px;
    font-size: 1rem;

}

.att button, .enl button, .liv button{
    background-color: #E2D9BB; 
    border: 3px solid black;
    font-family: "Cinzel", Sans-serif;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 15px;
}


.ins {
    max-width: 800px;              
    margin: 5% auto;        
    padding: 40px;             
    border: 2px solid black;    
    border-radius: 20px;       
    background: #C9B896;         
    text-align: center;       
}

.ins .infos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.infos-perso, .infos-liv {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 10px;
    border: 1px solid black;
}

.inscription input {
    width: 100%;              
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 15px;
    background-color: #EBE4E4;
}

.inscription input[type="submit"] {
    background-color: #E2D9BB;
    border: 3px solid black;
    font-weight: bold;
    font-family: "Cinzel", Sans-serif;
    font-size: 1.25rem;   
    width: 50%;
    max-width: 200px;
    margin: 20px auto 0 auto;
}

.inscription textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 15px;
    font-family: "Arial";
    background-color: #EBE4E4;
}

.ins h1 {
    margin-bottom: 15px;
    font-family: "Cinzel", Sans-serif;
    font-size: 2rem;
    text-align: center;	
}

.ins h2 {
    font-family: "Cinzel", Sans-serif;		
}

.redirection {
    font-size: 0.75rem;
    margin-top: 15px;
    text-align: center;
}

.redirection a {
    color: #1a1a1a;      
    font-weight: bold;
    text-decoration: none;
}


.redirection a:hover {
	text-decoration: underline;
      
}

.co {
    max-width: 500px;              
    margin: 5% auto;        
    padding: 40px;             
    border: 2px solid black;    
    border-radius: 20px;       
    background: #C9B896;         
    text-align: center;       
}



.connexion input {
    width: 100%;              
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 15px;
    background-color: #EBE4E4;
}


.connexion input[type="submit"] {
    background-color: #E2D9BB;
    border: 3px solid black;
    font-weight: bold;
    font-family: "Cinzel", Sans-serif;
    font-size: 1.25rem;   
    width: 50%;
    max-width: 200px;
    margin: 20px auto 0 auto;
}


.co h1 {
    margin-bottom: 15px;
    font-family: "Cinzel", Sans-serif;
    font-size: 2rem;
    text-align: center;	
}

// Espace administrateur //

.form-container{
    font-family: "Cormorant Garamond", serif;
    font-size: 12.5px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    display:flex;
    margin: 30px auto;
    flex-direction:column; 
    align-items: center;
    text-align:center; 
    justify-content: center;
    background-color: rgba(197, 171, 116, 0.2);
    border: 1px solid rgba(197, 171, 116, 0.45);
    padding-block :10px;
    padding-inline:10px;
    height: 100px;
    width : 500px;
    border-radius:16px;
}
.select-container{
    font-family: "Cormorant Garamond", serif;
    margin : 20px auto;
    display:flex;
    justify-content: center;
    position :relative;
    width : 250px;
    height : 50px; 
}
.select-box{
    padding : 0 30px 0 15px;
    color:white; 
    background:#C9B896;
    font-size : 20px;
}
.icon-container i{
    font-size : 30px;
    color : white;
}
.icon-container img{
    width : 22px;
    height: 22px;
    color : white;
}
.table table{
  font-family: "Cormorant Garamond", serif; 
  background-color: rgba(197, 171, 116, 0.2); 
  border: 1px solid rgba(197, 171, 116, 0.45); 
  padding-block :20px; 
  padding-inline:20px; 
  height: 150px; 
  width : 600px; 
  border-radius:16px; 
  margin : 30px auto; 
  border-collapse: collapse; 
  text-align:center; 
  overflow: hidden; 
  border: 1px solid rgba(197, 171, 116, 0.45);
}
.table th,.table td {
    padding: 18px 25px; 
}
.table tr {
    height: 60px;
}

// Profil //

.table-profil{
  background-color: rgba(197, 171, 116, 0.2); 
  padding-block :10px; 
  padding-inline:20px; 
  height: 100px; 
  width : 200px; 
  border-radius:16px; 
  margin : 15px auto; 
  border-collapse: collapse; 
  text-align:center; 
  overflow: hidden; 
}

.profil-image {
    font-size: 14px;
    margin-left: 10px;
    text-align:left;
    cursor: pointer;
}

// Notation //
.form-container-radio{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
